@import "variables";
@import "buttons";

* {
  box-sizing: border-box;
  font-family: $font-family;
}
.nav-bar {
  color: $color-secondary;

  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.nav-logo {
  width: 100%;
  max-width: 40px;
}
li {
  list-style: none;
}

.nav-links {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: right;
  padding: 20px;
  gap: 40px;
}
.header {
  color: $color-font1;
  background-color: $color-primary;
  height: 100vh;
  text-align: center;
}
.profile-pic {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border: 2px solid $color-font1;
  border-radius: 50%;
}
.about {
  color: $color-primary;
  background-color: $color-secondary;
  height: 100vh;
  text-align: center;
}
.projects {
  color: $color-font1;
  background-color: $color-primary;
}
.project-article p {
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .article {
    display: flex;
  }
}

.project-image {
  width: 100%;
  max-width: 500px;
}

.contacts {
  color: $color-primary;
  background-color: $color-secondary;
}
.heading {
  position: relative;
}
h2 {
  font-size: 30px;
}
